@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'nav';
@import 'hero';
@import 'portfolio';
@import url('https://fonts.googleapis.com/css?family=NTR|Reenie+Beanie');

html, body {
  font-family: 'NTR', sans-serif;
  font-size: 1.2em;
}

header + div {
  margin-top: 8em;
}

h2 {
  font-size: 2.2em;
}

